<table class='theta compact'>

	<thead>
		<tr>
			<th>Grade</th>
			<th>Subject</th>
			<th>Advanced</th>
			<th>Proficient</th>
			<th>Needs improvement</th>
			<th>Warning</th>
			<th>Tested</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<th>Grade</th>
			<th>Subject</th>
			<th>Advanced</th>
			<th>Proficient</th>
			<th>Needs improvement</th>
			<th>Warning</th>
			<th>Tested</th>
		</tr>
	</tfoot>

	<tbody></tbody>

</table>
